{% extends 'phpstore/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/category/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/category/media.css') }}"/>
{% endblock %}
{% block jsscript %}
    <script src="{{ asset('js/phpstore/catalog/category/category.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
    {{ include('phpstore/views/breadcrumbs/breadcrumbs.html.twig', {'breadcrumbs': breadcrumbs}) }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="block-h1">
                <h1>{{ meta.h1 }} <span style="font-weight: 100;">{{ meta.h1Span }}</span></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{ include('phpstore/views/products/products.html.twig', {'productsBlock': productsBlock}) }}
        </div>
    </div>
{% endblock %}