<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">

    <title>{% block title %}{{ meta.title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ meta.description }}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{{ meta.keywords }}{% endblock %}"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('css/libs/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/libs/mmenu.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/libs/mburger.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/libs/modal-loading.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/libs/modal-loading-animate.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/libs/magnific-popup.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/libs/jquery.fancybox.css') }}"/>

    {% block css %}
        <link rel="stylesheet" href="{{ asset('css/libs/lightslider.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/static-page/index/styles.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/static-page/index/media.css') }}"/>
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121327045-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-121327045-1');
    </script>
    {% block adsense %}{% endblock %}
</head>
<body>
<div class="wrapp-container">
    <div class="main-nav">
        <div class="nav-header">
            <p class="logo">Php<span>Store</span></p>
            <p class="text">сайт о php</p>
        </div>
        <div class="nav-menu">
            {{ include('phpstore/views/menu/menu.html.twig', {'menu': menu}) }}
        </div>
        <div class="footer">
            <p>Copyright &copy; 2019 PhpStore.com.ua<br> All rights reserved</p>
        </div>
    </div>
    <div id="page">
        <div class="content">
            <div class="content-header">
                <div class="row" style="margin: 0">
                    <div class="col-md-1 col-sm-1 col-9 btn-nav-menu">
                        <a href="#main-menu" class="mburger mburger--squeeze btn-mmenu">
                            <b></b>
                            <b></b>
                            <b></b>
                        </a>
                    </div>
                    <a href="{{ path('app_home') }}">
                        <div class="header-logo">
                            <span>PHP</span>
                            <p>STORE</p>
                        </div>
                    </a>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-10 col-1">
                        <div class="header-account-small-mobile">
                            <a href="#search-popup" class="btn-search-popup-link"><i class="fas fa-search"></i></a>
                        </div>
                        <div class="header-search">
                            <form action="{{ path('app_search') }}" method="get">
                                <button class="btn-search"><i class="fas fa-search"></i></button>
                                <input type="text" name="q" {% if query is defined %} value="{{ query }}" {% endif %} required class="input-search" placeholder="Введите ключевые слова поиска..."/>
                            </form>
                        </div>
                    </div>
{#                    <div class="col-xl-5 col-lg-5 col-md-4 col-sm-1 col-1">#}
{#                        {% if user is defined and user.isAuth == true %}#}
{#                            <div class="header-account">#}
{#                                #}{#<span class="messages"><i class="fas fa-envelope"></i><span class="count-messages">1</span></span>#}
{#                                <span class="avatar"><img src="{{ user.logo }}" alt="avatar"/></span>#}
{#                                <span class="name">{{ user.name }}</span>#}
{#                                <div class="menu">#}
{#                                    <i class="fas fa-ellipsis-v"></i>#}
{#                                    <div class="popup-header-menu" style="display: none">#}
{#                                        <ul>#}
{#                                            <li>#}
{#                                                <a href="/logout/">Выйти</a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% else %}#}
{#                            <div class="header-account">#}
{#                                <i class="far fa-user"></i>#}
{#                                <a href="/login/">Войти</a>#}
{#                                <a href="/registration/">Регистрация</a>#}
{#                            </div>#}
{#                            <div class="header-account-mobile">#}
{#                                <a href="#"><i class="far fa-user"></i></a>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    </div>#}
                </div>
            </div>
            {% block breadcrumbs %}
            {% endblock %}
            <div class="wrapp-content">
                {% block content %}
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="block-gallery-slider">
                                <ul id="home-gallery-slider">
                                    <li>
                                        <div class="item-gallery">
                                            <img src="{{ asset('img/home/banner/test.jpg') }}" alt="Читать статьи с планшета"/>
                                            <div class="btn-block">
                                                <span><a href="{{ path('app_department', {'department': 'articles'}) }}">Перейти</a></span>
                                            </div>
                                            <div class="block-text">
                                                <h5>Статьи по PHP</h5>
                                                <p>Интересные и уникальные темы, практические советы помогут в изучении php даже опытным разработчикам! <span class="small-device-hidden">Для просмотра всех статтей перейдите в раздел Статьи!</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-gallery">
                                            <img src="{{ asset('img/home/banner/cher.jpg') }}" alt="Читать статьи с планшета"/>
                                            <div class="btn-block">
                                                <span><a href="{{ path('app_subscribe') }}">Перейти</a></span>
                                            </div>
                                            <div class="block-text">
                                                <h5>Подписка</h5>
                                                <p>Подпишитесь на уведеомления чтобы получать свежие новости о новых статьях или разделах сайта!</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="home-gallery-block">
                                <div class="left-block">
                                    <div class="top-left-block item-block">
                                        <img src="{{ asset('img/home/banner/test.jpg') }}" alt="Читать статьи с планшета"/>
                                        <div class="btn-block">
                                            <span><a href="{{ path('app_department', {'department':'articles'}) }}">Перейти</a></span>
                                        </div>
                                        <div class="block-text">
                                            <h5>Статьи по PHP</h5>
                                            <p>Интересные и уникальные темы, практические советы помогут в изучении php даже опытным разработчикам. Для просмотра всех статтей перейдите в раздел Статьи!</p>
                                        </div>
                                    </div>
                                    {#                                <div class="bottom-left-block">#}
                                    {#                                    <div class="bottom-left-subblock item-block">#}
                                    {#                                        <img src="{{ asset('img/home/banner/video.jpg') }}"/>#}
                                    {#                                        <div class="btn-block">#}
                                    {#                                            <span><a href="/cat/articles/">Перейти</a></span>#}
                                    {#                                        </div>#}
                                    {#                                        <div class="block-text">#}
                                    {#                                            <h5>Статьи по php</h5>#}
                                    {#                                            <p>Смотрите видео онлайн. Лучшее видео по php и не только самые интересные темы здесь просто сейчас</p>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="bottom-right-subblock item-block">#}
                                    {#                                        <img src="{{ asset('img/home/banner/book.jpg') }}"/>#}
                                    {#                                        <div class="btn-block">#}
                                    {#                                            <span><a href="/articles/">Перейти</a></span>#}
                                    {#                                        </div>#}
                                    {#                                        <div class="block-text">#}
                                    {#                                            <h5>Статьи по php</h5>#}
                                    {#                                            <p>Смотрите видео онлайн. Лучшее видео по php и не только самые интересные темы здесь просто сейчас</p>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {#                                </div>#}
                                </div>
                                <div class="right-block item-block">
                                    <img src="{{ asset('img/home/banner/cher.jpg') }}"/>
                                    <div class="btn-block">
                                        <span><a href="{{ path('app_subscribe') }}">Перейти</a></span>
                                    </div>
                                    <div class="block-text">
                                        <h5>Подписка</h5>
                                        <p>Подпишитесь на уведеомления чтобы получать свежие новости о новых статьях или разделах сайта!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="top-articles-block">
                                <div class="title-section">
                                    <p class="title">Топ Статьи</p>
                                    <p class="description">Список самых популярных и интересных статей о php</p>
                                </div>
                                <div class="articles">
                                    {% for article in topArticles %}
                                        {{ include('phpstore/views/article/article.html.twig', {'article': article}) }}
                                    {% endfor %}
                                    <div class="btn-load-more">
                                        <a href="/dep/articles/"><p>читать все статьи</p></a>
                                    </div>
                                </div>
                            </div>
{#                            <div class="top-video-block">#}
{#                                <div class="title-section">#}
{#                                    <p class="title">Топ Видео</p>#}
{#                                    <p class="description">Вже давно відомо, що читабельний зміст буде заважати зосередитись людині</p>#}
{#                                </div>#}
{#                                <ul id="top-video-slider">#}
{#                                    <li>#}
{#                                        <div class="top-video-item">#}
{#                                            <video src="{{ asset('video/video1.mp4') }}" controls></video>#}
{#                                            <a href="#">Існує багато варіацій уривків з Lorem Ipsum</a>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="top-video-item">#}
{#                                            <video src="{{ asset('video/video1.mp4') }}" controls></video>#}
{#                                            <a href="#">Існує багато варіацій уривків з Lorem Ipsum</a>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="top-video-item">#}
{#                                            <video src="{{ asset('video/video1.mp4') }}" controls></video>#}
{#                                            <a href="#">Існує багато варіацій уривків з Lorem Ipsum</a>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="top-video-item">#}
{#                                            <video src="{{ asset('video/video1.mp4') }}" controls></video>#}
{#                                            <a href="#">Існує багато варіацій уривків з Lorem Ipsum</a>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="top-video-item">#}
{#                                            <video src="{{ asset('video/video1.mp4') }}" controls></video>#}
{#                                            <a href="#">Існує багато варіацій уривків з Lorem Ipsum</a>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="top-video-item">#}
{#                                            <video src="{{ asset('video/video1.mp4') }}" controls></video>#}
{#                                            <a href="#">Існує багато варіацій уривків з Lorem Ipsum</a>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                </ul>#}
{#                                <div class="btn-load-more">#}
{#                                    <p>просмотреть все видео</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="top-book-block">#}
{#                                <div class="title-section">#}
{#                                    <p class="title">топ книги</p>#}
{#                                    <p class="description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>#}
{#                                </div>#}
{#                                <div class="top-book-content">#}
{#                                    <div class="row">#}
{#                                        <div class="col-md-2">#}
{#                                            <div class="top-book-item">#}
{#                                                <div class="book-img">#}
{#                                                    <img src="{{ asset('img/book/book1.jpg') }}" alt="alt"/>#}
{#                                                </div>#}
{#                                                <div class="book-description">#}
{#                                                    <p class="product-breadcrumb">#}
{#                                                        <span><i class="fas fa-download"></i> 321</span>#}
{#                                                        <span><i class="fas fa-eye"></i> 23</span>#}
{#                                                    </p>#}
{#                                                    <p class="title"><a href="#">Існує багато варіацій уривків з Lorem Ipsum</a></p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-2">#}
{#                                            <div class="top-book-item">#}
{#                                                <div class="book-img">#}
{#                                                    <img src="{{ asset('img/book/book2.jpg') }}" alt="alt"/>#}
{#                                                </div>#}
{#                                                <div class="book-description">#}
{#                                                    <p class="product-breadcrumb">#}
{#                                                        <span><i class="fas fa-download"></i> 321</span>#}
{#                                                        <span><i class="fas fa-eye"></i> 23</span>#}
{#                                                    </p>#}
{#                                                    <p class="title"><a href="#">Існує багато варіацій уривків з Lorem Ipsum</a></p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-md-2">#}
{#                                            <div class="top-book-item">#}
{#                                                <div class="book-img">#}
{#                                                    <img src="{{ asset('img/book/book1.jpg') }}" alt="alt"/>#}
{#                                                </div>#}
{#                                                <div class="book-description">#}
{#                                                    <p class="product-breadcrumb">#}
{#                                                        <span><i class="fas fa-download"></i> 321</span>#}
{#                                                        <span><i class="fas fa-eye"></i> 23</span>#}
{#                                                    </p>#}
{#                                                    <p class="title"><a href="#">Існує багато варіацій уривків з Lorem Ipsum</a></p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="btn-load-more">#}
{#                                    <p>читать все книги</p>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="block-hidden" style="display: none">
    <nav id="main-menu">
        {{ include('phpstore/views/menu/menu.html.twig', {'menu': menu}) }}
    </nav>
    <div id="search-popup" class="top-search-popup">
        <form class="form-search-popup">
            <input type="text" name="q" placeholder="Поиск..." class="input-search-popup" id="focus-search-input"/>
            <span class="btn-search-popup"><i class="fas fa-search"></i></span>
        </form>
    </div>
</div>

<a href="#" class="scrollup">Наверх</a>

<script src="{{ asset('js/libs/jquery.min.js') }}"></script>
<script src="{{ asset('js/libs/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/libs/fontawesome-all.min.js') }}"></script>
<script src="{{ asset('js/libs/mmenu.js') }}"></script>
<script type="module" src="{{ asset('js/libs/mburger.js') }}"></script>
<script src="{{ asset('js/libs/modal-loading.js') }}"></script>
<script src="{{ asset('js/libs/jquery.magnific-popup.js') }}"></script>
<script src="{{ asset('js/libs/jquery.fancybox.js') }}"></script>

<script src="{{ asset('js/phpstore/main.js') }}"></script>
{% block jsscript %}
    <script src="{{ asset('js/libs/lightslider.js') }}"></script>
    <script src="{{ asset('js/phpstore/catalog/static-page/index/index.js') }}"></script>
{% endblock %}
</body>