@import url('../../../styles.css');
@import url('../../../views/form/styles.css');

.wrapp-form p.title {
    margin-bottom: 10px;
}

p.feedback-description {
    margin-bottom: 20px;
    font-size: 14px;
    color: #636363;
}