{% extends 'admin/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin/images/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin/images/media.css') }}"/>
{% endblock %}

{% block jsscript %}
    <script src="{{ asset('js/admin/images/images.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="title-block">
        <h2>Картинки</h2>
        <p>Импорт картинок сайта</p>
    </div>
    <div class="block-import-img">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    {% if actionResponse is defined and actionResponse == 'success' %}
                        <p class="message-success">Картинки успешно загружены!</p>
                    {% elseif actionResponse is defined and actionResponse == 'error' %}
                        <p class="message-error">Произошла ошибка! Картинки не были загружены!</p>
                    {% endif %}
                    {{ form_start(form) }}
                    <div class="path">
                        {{ form_row(form.path) }}
                    </div>
                    <div class="files">
                        {{ form_row(form.images) }}
                    </div>
                    {{ form_end(form) }}
                    <div class="btn-import-img">
                        <input type="submit" value="Загрузить" name="submit"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}