{% extends 'admin/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin/blocks/categories/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin/blocks/categories/media.css') }}"/>
{% endblock %}

{% block jsscript %}
    <script src="{{ asset('js/admin/blocks/categories/index.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="title-block">
        <h2>Блок Категорий</h2>
        <p>Заполнения категорийного блока депратментов</p>
    </div>
    <div class="block-box">
        <div class="block-title">
            <p><span><i class="fas fa-pencil-alt"></i></span> Департмент</p>
        </div>
        <div class="block-content">
            <form class="form-general">
                <table class="table table-bordered table-container">
                    <tbody>
                    <tr>
                        <td>
                            <label>Департмент:</label>
                        </td>
                        <td>
                            <select class="selector-departments">
                                {% for department in departments %}
                                    <option value="{{ department.id }}" {% if department.selected == 1 %} selected {% endif %}>{{ department.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <a href="/admin/block/categories/?action=show&departmentId=1" class="btn-action btn-search btn-show-category-elements"><i class="fas fa-search"></i> Показать</a>
        </div>
    </div>
    {% if content %}
        <div class="block-box">
            <div class="block-title">
                <p><span><i class="fas fa-pencil-alt"></i></span> Категории</p>
            </div>
            <div class="block-content">
                <table class="table table-bordered table-container table-elements">
                    <tbody>
                    {% for element in content %}
                        <tr class="row-element" data-element-id="{{ element.id }}" data-category-id="{{ element.categoryId }}">
                            <td>
                                <p class="title-category-item">{{ element.name }}</p>
                            </td>
                            <td>
                                <form>
                                    <table class="table table-striped table-hover">
                                        <tr>
                                            <td>
                                                <label>Title:</label>
                                            </td>
                                            <td>
                                                <input type="text" name="title" value="{{ element.title }}" class="title-test"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Description:</label>
                                            </td>
                                            <td>
                                                <input type="text" name="description" value="{{ element.description }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Image path:</label>
                                            </td>
                                            <td>
                                                <input type="text" name="img" value="{{ element.img }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Image alt:</label>
                                            </td>
                                            <td>
                                                <input type="text" name="alt" value="{{ element.alt }}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Order:</label>
                                            </td>
                                            <td>
                                                <input type="text" name="order" value="{{ element.order }}"/>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="block-box" style="border: none">
            <div class="block-footer">
                <a href="" class="btn-action btn-save btn-save-elements"><i class="fas fa-check"></i> Сохранить</a>
            </div>
        </div>
    {% endif %}
{% endblock %}