{% extends 'admin/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin/departments/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin/departments/media.css') }}"/>
{% endblock %}

{% block jsscript %}
    <script src="{{ asset('js/admin/departments/departments.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="title-block">
        <h2>Редактирование департмента</h2>
        <p>Редактирование раздела сайта</p>
    </div>
    <div class="block-box">
        <div class="block-title">
            <p><span><i class="fas fa-pencil-alt"></i></span> Общая информация</p>
        </div>
        <div class="block-content">
            <form class="form-general">
                <input type="hidden" data-department-id="{{ department.id }}" class="input-department-id"/>
                <table class="table table-bordered table-container">
                    <tbody>
                    <tr>
                        <td>
                            <label>Название:</label>
                        </td>
                        <td>
                            <input type="text" name="name" value="{{ department.name }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Url:</label>
                        </td>
                        <td>
                            <input type="text" name="url" value="{{ department.url }}" readonly/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="block-box">
        <div class="block-title">
            <p><span><i class="fas fa-pencil-alt"></i></span> Meta данные</p>
        </div>
        <div class="block-content">
            <form class="form-meta-data">
                <table class="table table-bordered table-container">
                    <tbody>
                    <tr>
                        <td>
                            <label>Title:</label>
                        </td>
                        <td>
                            <input type="text" name="title" value="{{ department.title }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>H1:</label>
                        </td>
                        <td>
                            <input type="text" name="h1" value="{{ department.h1 }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>H1 span:</label>
                        </td>
                        <td>
                            <input type="text" name="h1Span" value="{{ department.h1_span }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Keywords:</label>
                        </td>
                        <td>
                            <input type="text" name="keywords" value="{{ department.keywords }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Description:</label>
                        </td>
                        <td>
                            <input type="text" name="description" value="{{ department.description }}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="block-box" style="border: none">
        <div class="block-footer">
            <a href="" class="btn-action btn-save btn-edit-department"><i class="fas fa-check"></i> Сохранить</a>
        </div>
    </div>
{% endblock %}