<div class="breadcrumbs">
    {% for item in breadcrumbs %}
    {% if not loop.last %}
        <span><a href="{{ item.url }}">{{ item.name }}</a> / </span>
    {% else %}
        <span><a href="{{ item.url }}" class="inactive-link">{{ item.name }}</a></span>
    {% endif %}
    {% endfor %}
</div>