/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .main-nav {
        width: 250px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .btn-nav-menu {
        display: block;
        padding-left: 25px;
    }

    .main-nav {
        display: none;
    }

    .mm-wrapper_opening .mm-menu_offcanvas~.mm-slideout {
        transform: translate3d(280px,0,0);
    }

    :root{
        --mb-button-size: 50px;
        --mb-bar-spacing: 8px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    :root{
        --mb-button-size: 40px;
        --mb-bar-spacing: 6px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 568px) {
    .mm-navbar {
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .mm-menu_offcanvas {
        width: 90%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}