{% extends 'phpstore/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/static-page/subscribe/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/static-page/subscribe/media.css') }}"/>
{% endblock %}
{% block jsscript %}
    <script src="{{ asset('js/phpstore/catalog/static-page/subscribe/subscribe.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="wrapp-form-success">
        <p class="success-icon"><i class="fas fa-check"></i></p>
        <p class="text">Поздравляем!<br> {{ userName }}, Ваша подписка успешно оформлена. Теперь Вы будете получать уведомления о новых статьях и разделах на PhpStore!</p>
        <p class="btn-back"><a href="{{ path('app_home') }}">на главную</a></p>
    </div>
{% endblock %}