{% extends 'phpstore/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/static-page/subscribe/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/static-page/subscribe/media.css') }}"/>
{% endblock %}
{% block jsscript %}
    <script src="{{ asset('js/phpstore/catalog/static-page/subscribe/subscribe.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="wrapp-form-error">
        <p class="error-icon"><i class="fas fa-exclamation-circle"></i></p>
        <p class="text">{{ text|raw }}</p>
        <p class="btn-back"><a href="{{ path('app_home') }}">на главную</a></p>
    </div>
{% endblock %}