{% extends 'admin/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin/categories/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin/categories/media.css') }}"/>
{% endblock %}

{% block jsscript %}
    <script src="{{ asset('js/admin/categories/categories.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="title-block">
        <h2>Создание категории</h2>
        <p>Создайте категорию здесь</p>
    </div>
    <div class="block-box">
        <div class="block-title">
            <p><span><i class="fas fa-pencil-alt"></i></span> Новая категория</p>
        </div>
        <div class="block-content">
            <form class="form-general">
                <table class="table table-bordered table-container">
                    <tbody>
                    <tr>
                        <td>
                            <label>Название:</label>
                        </td>
                        <td>
                            <input type="text" name="name"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="block-box">
        <div class="block-title">
            <p><span><i class="fas fa-pencil-alt"></i></span> Департменты + Meta Data</p>
        </div>
        <div class="block-content">
            <form class="form-meta-data">
                <table class="table table-bordered table-container table-category-departments">
                    <tbody>
                    </tbody>
                </table>
            </form>
            <div class="selector-departments-block">
                <label>Департменты: </label>
                <select class="department-list">
                    {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.name }}</option>
                    {% endfor %}
                </select>
                <a href="#" class="btn-action btn-add btn-add-department"><i class="fas fa-plus"></i> Добавить</a>
            </div>
        </div>
    </div>
    <div class="block-box" style="border: none">
        <div class="block-footer">
            <a href="" class="btn-action btn-save btn-save-category"><i class="fas fa-check"></i> Сохранить</a>
        </div>
    </div>
{% endblock %}