{% extends 'admin/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin/url-types/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin/url-types/media.css') }}"/>
{% endblock %}

{% block jsscript %}
    <script src="{{ asset('js/admin/url-types/url-types.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="submenu-block">
        <ul>
            <li>
                <a href="{{ path('admin_url_type_create') }}">Создать</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="table-responsive-sm">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th style="width: 5%">ID</th>
                <th style="width: 40%">Url type</th>
                <th style="width: 40%">Name</th>
                <th style="width: 10%">Действие</th>
            </tr>
            </thead>
            <tbody>
            {% for urlType in urlTypes %}
                <tr>
                    <td style="text-align: center">{{ urlType.id }}</td>
                    <td><a href="{{ path('admin_url_type_edit', {'id':urlType.id}) }}">{{ urlType.urlType }}</a></td>
                    <td>{{ urlType.displayName }}</td>
                    <td style="text-align: center">
                        <a href="{{ path('admin_url_type_edit', {'id': urlType.id}) }}"><span class="i-edit"><i class="fas fa-pencil-alt"></i></span></a>
                        <a href="" class="btn-url-type-delete" data-url-type-id="{{ urlType.id }}"><span class="i-delete"><i class="fas fa-trash-alt"></i></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}