/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .block-h1 h1 {
        font-size: 36px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .block-h1 h1 {
        font-size: 32px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 568px) {
    .block-h1 h1 {
        font-size: 30px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .block-h1 h1 {
        font-size: 28px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}