.breadcrumbs {
    padding: 15px 20px;
}

.breadcrumbs .fa-angle-right {
    margin-bottom: -1px;
    margin-left: 10px;
    margin-right: 10px;
    color: #676767;
}

.breadcrumbs a {
    color: #2e2e2e;
}

.breadcrumbs span:last-child a {
    color: #888888;
    text-decoration: none;
    cursor: auto;
}