{% extends 'phpstore/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/static-page/feedback/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/static-page/feedback/media.css') }}"/>
{% endblock %}
{% block jsscript %}
    <script src="{{ asset('js/phpstore/catalog/static-page/feedback/feedback.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="wrapp-form-success">
        <p class="success-icon"><i class="fas fa-check"></i></p>
        <p class="text">Отправлено!<br> {{ userName }}, мы получили Ваш отзыв и в ближайшее время отправим вам ответ</p>
        <p class="btn-back"><a href="{{ path('app_home') }}">на главную</a></p>
    </div>
{% endblock %}