{% extends 'admin/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin/static-pages/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin/static-pages/media.css') }}"/>
{% endblock %}

{% block jsscript %}
    <script src="{{ asset('js/admin/static-pages/static-pages.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="title-block">
        <h2>Статические страницы</h2>
        <p>Список статических страниц сайта</p>
    </div>
    <div class="submenu-block">
        <ul>
            <li>
                <a href="{{ path('admin_static_page_create') }}">Создать</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="categories-block table-responsive-sm">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th style="width: 5%">ID</th>
                <th style="width: 60%">Название</th>
                <th style="width: 10%">Действие</th>
            </tr>
            </thead>
            <tbody>
            {% for staticPage in staticPages %}
                <tr>
                    <td style="text-align: center">{{ staticPage.id }}</td>
                    <td><a href="{{ path('admin_static_page_edit', {'id': staticPage.id}) }}">{{ staticPage.name }}</a></td>
                    <td style="text-align: center">
                        <a href="{{ path('admin_static_page_edit', {'id': staticPage.id}) }}"><span class="i-edit"><i class="fas fa-pencil-alt"></i></span></a>
                        <a href="" class="btn-delete-static-page" data-static-page-id="{{ staticPage.id }}"><span class="i-delete"><i class="fas fa-trash-alt"></i></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}