{% extends 'phpstore/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/phpstore/404/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/phpstore/404/media.css') }}"/>
{% endblock %}

{% block title %}404 Страница не найдена{% endblock %}
{% block description %}404 Страница не найдена{% endblock %}
{% block keywords %}404 Страница не найдена{% endblock %}


{% block content %}
    <div class="block-page-not-found">
        <p class="code">404</p>
        <h1>Страница не найдена</h1>
        <p><a href="{{ path('app_home') }}">На главную</a></p>
    </div>
{% endblock %}