/* PAGINATION */
.pagination {
    margin: 40px 0
}

.pagination a {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #ffffff;
    border-radius: 2px;
    color: rgba(111, 111, 111, 0.82);
    font-weight: bold;
    margin-right: 5px;
    border: 1px solid #c5c5c5;
}

.pagination a:hover {
    background-color: rgb(202, 10, 10);
    color: #fff;
    border: 1px solid #ca0a0a;
}

.pagination a.btn-active-pagination {
    background-color: rgb(202, 10, 10);
    color: #fff;
    border: 1px solid #ca0a0a;
}