{% extends 'phpstore/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/libs/lightslider.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/department/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/phpstore/catalog/department/media.css') }}"/>
{% endblock %}
{% block jsscript %}
    <script src="{{ asset('js/libs/lightslider.js') }}"></script>
    <script src="{{ asset('js/phpstore/catalog/department/department.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
    {{ include('phpstore/views/breadcrumbs/breadcrumbs.html.twig', {'breadcrumbs': breadcrumbs}) }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="block-h1">
                <h1>{{ meta.h1 }} <span style="font-weight: 100;">{{ meta.h1_span }}</span></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{ include('phpstore/views/categories/categories.html.twig', {'categories': categories}) }}
            <div class="line-separator"></div>
            {{ include('phpstore/views/products/products.html.twig', {'productsBlock': productsBlock}) }}
        </div>
    </div>
{% endblock %}